NEXT_PUBLIC_NEXTAUTH_URL=http://localhost:3000
TOGETHER_API_KEY=
HF_TOKEN=
GEMINI_API_KEY=

# API URLs (Optional - Defaults provided in code)
# TOGETHER_API_URL=https://api.together.xyz/v1/images/generations
# HF_API_URL=https://router.huggingface.co/models/black-forest-labs/FLUX.1-schnell
# GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta/models/imagen-3.0-generate-001:predict